# SPDX-License-Identifier: Apache-2.0
.idea/
.data/
.env
.env.*
!.env-default

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/

# Python bytecode cache (should never be committed)
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyi
*.pyi[cod]
node_modules/
openfocus/static/dist/

.coverage
htmlcov/
